body {
    background-image: url('../images/crystal-cave.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#banner{
    font-size: 42px;
    font-family: 'New Rocker', cursive;
    color:white;
    background-color: rgb(10, 10, 10);
    font-weight: bold;
}

#instructions{
    font-size: 16px;
    color: white;
    background-color: rgb(73, 70, 65);
    opacity: .8;
}

.crystal{
    width: 100px;
    height:100px;
    margin: 5px;
}

#random-number-output{
    color: white;
    background-color: rgb(73, 70, 65);
    font-size: 36px;
    opacity: .8;
    font-family: 'New Rocker', cursive;
}

#wins-output{
    color: white;
    background-color: rgb(73, 70, 65);
    font-size: 18px;
    opacity: .8;
    font-family: 'New Rocker', cursive;
}

#losses-output{
    color: white;
    background-color: rgb(73, 70, 65);
    font-size: 18px;
    opacity: .8;
    font-family: 'New Rocker', cursive;
}

#message{
    color: white;
    background-color: rgb(73, 70, 65);
    font-size: 22px;
    opacity: .8;
    font-family: 'New Rocker', cursive;
}

#total-score{
    color: white;
    background-color: rgb(73, 70, 65);
    font-size: 32px;
    opacity: .8;
    font-family: 'New Rocker', cursive;
}